*{
     margin: 0;
     padding: 0;
}
body{
     background-color: none;
     padding-top: 30px;
}
.back a.backx{
     font-size: 24px;
     border: 0;
     background-color: transparent;
     position: absolute;
     top: 10px;
     right: 10px;
     padding: 10px;
     text-decoration: none;
     font-family: sans-serif;
     font-weight: 100;
     cursor: pointer;
}
.htf{
     display: grid;
     padding: 20px;
     gap: 20px;
     grid-template-columns: repeat(2, 1fr);
}
.htf img{
     width: 100%;
     height: 300px;
     object-fit: cover;
     border-radius: 10px 10px 0 0;
     cursor: pointer;
}
.htf-product{
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 18px 18px 36px #8f8f8f, -18px -18px 36px #ffffff;
    justify-content: center;
    text-align: center;
}
@media (min-width: 700px) {
     .htf{
          grid-template-columns: repeat(4, 1fr);
     }
}
#enlarge-image{
     display: none;
     max-width: 100%;
     max-height: 100%;
}

.cart{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin: 20px;
     
}
.cart button{
     display: flex;
     border: 1px solid rgb(227, 227, 233);
     cursor: pointer;
     padding: 5px;
     margin: 5px;
     border-radius: 10px;
     text-align: center;
     justify-content: center;
     font-weight: 500;
}
.cart button:hover{
     background-color: #ffffff;
     box-shadow: 18px 18px 36px #8f8f8f, -18px -18px 36px #ffffff;
     font-weight: 600;
}
     
.cart button:first-child:hover{
     background-color: rgb(252, 188, 13);
     color: rgba(10, 9, 9, 0.842);
     text-shadow: #8f8f8f;
     box-shadow: 18px 18px 36px #8f8f8f, -18px -18px 36px #ffffff;
     font-weight: 700;
}

